# Hostinger proporciona PORT automáticamente. En local es opcional.
PORT=3000
NODE_ENV=development
SESSION_SECRET=
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=
ADMIN_EMAIL=
ADMIN_INITIAL_PASSWORD=
PARTNER_EMAIL=
PARTNER_INITIAL_PASSWORD=
